{% extends 'base.html' %}


{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <!-- Including our custom Django messages -->
            {% include 'includes/alerts.html' %}
            <header class="mb-4">
                <h4 class="card-title">Sign up</h4>
            </header>
            <form action="{% url 'account_app:register' %}" method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="col form-group col-md-6">
                        <label>First name</label>
                        {{ form.first_name }}
                    </div> <!-- form-group end.// -->
                    <div class="col form-group col-md-6">
                        <label>Last name</label>
                        {{ form.last_name }}
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Email Address</label>
                        {{form.email}}
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label>Phone Number</label>
                        {{form.phone_number}}
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row.// -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Create password</label>
                        {{ form.password }}
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label>Repeat password</label>
                        {{ form.confirm_password }}
                    </div> <!-- form-group end.// -->
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Register </button>
                </div> <!-- form-group// -->

                <!-- This method will indicate an error based on the restrictions we inflict
                For instance, it can be that one Account already exists with this email -->
                {{ form.email.errors }}
                <!-- This method returns the list of errors from Form.errors that aren’t associated 
                with a particular field. This includes ValidationErrors that are raised in Form.clean()  -->
                {{ form.non_field_errors }}
            </form>

            </form>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="{% url 'account_app:login' %}">Log In</a></p>
    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->

</section>

{% endblock content %}